html{
  scroll-snap-type: 'y mandatory';
}
.App{
  height: 100vh;
  width: 100vw;
  display: grid;  
  background: #b4d6e5;
  place-items: center;
  color:#fff;
}
.app_videoContainer::-webkit-scrollbar{
  display: none;
}
.app_videoContainer{
  position: relative;
  height: 90vh;
  width: 100%;
  max-width: 450px;
  overflow: scroll;
  scroll-snap-type: 'y mandatory';
  -ms-overflow-style: none;
  scrollbar-width:none;

}